.lulav .map {
    float: left;
    width: 50%;
    height: 516px;
}

.lulav ul {
    display: none;
}

.lulav .thumbnails {
    folat: left;
    margin: 8px auto;
    width: 50%;
    height: 516px;
}

.lulav .thumbnails .cell {
    position: relative;
    float: left;
    width: 33%;
    height: 128px;
    background-position: center;
    cursor: pointer;
}

.lulav .thumbnails .cell .select {
    position: absolute;
    border: 6px solid #e8776f;
}

.entry-content {
    /*max-width: 95% !important;*/
}
