.lulav {
    width: 100%;
    height: 516px;
}

.lulav .llv-controls {
    text-align: right;
}

.lulav .llv-controls a {
    color: #000;
    text-decoration: none;
}

.lulav .llv-map, .lulav .llv-thumbs {
    float: left;
    width: 50%;
    height: 100%;
}

.lulav .llv-thumbs {
    position: relative;
    overflow: hidden;
}

.lulav .llv-thumbs table {
    z-index: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
    border-left: 6px solid #FFF;
}

.lulav .llv-thumbs table:first-child,
.lulav .llv-thumbs table.active,
.lulav .llv-thumbs table.animation {
    visibility: visible;
}

.lulav .llv-thumbs td {
    position: relative;
    width: 33%;
    border: 6px solid #FFF;
    text-align: center;
    cursor: pointer;
}

.lulav .llv-thumbs td .llv-desc {
    display: none;
}

.lulav .llv-thumbs td .llv-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 6px solid #E8776F;
}
