.lulav .controls {
    text-align: right;
}
.lulav .controls a {
    color: #000;
    text-decoration: none;
}

.lulav .map {
    float: left;
    width: 50%;
    height: 516px;
}

.lulav ul {
    display: none;
}

.lulav .carousel {
    position: relative;
    float: left;
    width: 50%;
    height: 516px;
    overflow: hidden;
}

.lulav .carousel .thumbnails {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #FFF;
}
/*.lulav .carousel .thumbnails:first-child,*/
.lulav .carousel .thumbnails.active,
.lulav .carousel .thumbnails.animation {
    display: block;
}

.lulav .carousel .thumbnails .cell {
    float: left;
    width: 33%;
    height: 172px;
    background-position: center;
    cursor: pointer;
}

.lulav .carousel .thumbnails .cell .select {
    position: absolute;
    border: 6px solid #E8776F;
}

.entry-content {
    max-width: 80% !important;
}
